.restroCards{
    width: 260px;
    padding: 20px;
}
.restroCards:hover{
    border: 1px solid black;
    transform: scale(1.1);
}
.restrologo{
    width: 250px;
    height: 200px;
}
p{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}