.header{
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 100px;
    height: 100px;
}
.navItems > ul{
    display: flex;
}
.navItems > ul > li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}